html, body {
    font-family: "微软雅黑", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial;
}
a {
    font-family: "微软雅黑", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial;
}
div {
    font-family: "微软雅黑", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial;
}